p {
  font-family: Lato;
}

.colorOne{
  background-color:darkolivegreen;
}
.colorTwo{
  background-color:rgb(44, 123, 113);
}

.colorThree{
  background-color:rgb(75, 84, 126);
}
.colorFour{
  background-color:darkred;
}