
<li class="dropdown-item ng-star-inserted">
  <div _ngcontent-apo-c10="" class="dropdown-item-content">
    <span      
      id="CompanyCode"
      style="width:25px;display:inline-block;color:white;font-weight:bold;text-align:center;"
      class="colorOne ng-star-inserted"
      appOpacitySelector
    >
      A0 </span
    ><span _ngcontent-apo-c8="" class="name ng-star-inserted">
      Australia Cotton
    </span>
  </div>
</li>
<li class="dropdown-item ng-star-inserted">
<div _ngcontent-apo-c10="" class="dropdown-item-content">
  <span      
    id="CompanyCode"
    style="width:25px;display:inline-block;color:white;font-weight:bold;text-align:center;"
    class="colorTwo ng-star-inserted"
    appOpacitySelector
  >
    U0 </span
  ><span _ngcontent-apo-c8="" class="name ng-star-inserted">
    US Cotton
  </span>
</div>
</li>

<li class="dropdown-item ng-star-inserted">
<div _ngcontent-apo-c10="" class="dropdown-item-content">
  <span      
    id="CompanyCode"
    style="width:25px;display:inline-block;color:white;font-weight:bold;text-align:center;"
    class="colorThree ng-star-inserted"
    appOpacitySelector
  >
    I0 </span
  ><span _ngcontent-apo-c8="" class="name ng-star-inserted">
    India Cotton
  </span>
</div>
</li>

